[Unit]
Description=Garage Door Opener Flask App
After=network.target

[Service]
Type=simple
User=dtfitness
WorkingDirectory=/home/dtfitness/Desktop/PythonProject
ExecStart=/home/dtfitness/Desktop/PythonProject/.venv/bin/python /home/dtfitness/Desktop/PythonProject/app.py
Restart=on-failure
EnvironmentFile=/etc/default/garage-door

[Install]
WantedBy=multi-user.target
